

{% include 'public_header.html'%}




<section id="services" class="services">
      <div class="container" data-aos="fade-up">
<center>

        <div class="section-title">
          
          <p>Login Here</p>
        </div>

        <div class="row">
        	<div class="col-md-4"></div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
            	
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              


<form method="POST">

<table class="table">
<tr >	
	<th>Username</th>
	<td><input type="text" name="username" class="form-control">	</td>
</tr>
<tr>
	<th>Password</th>
	<td><input type="password" name="password" class="form-control"></td>
</tr>
<tr>
	<th align="center" colspan="2"><input type="submit" name="login" value="login"></th>
</tr>

</table>
</form>

            </div>

          </div>
          

        </div>

      </div>

</div>
</center>

    </section><!-- End Services Section -->




{%include 'footer.html'%}