
{%include 'admin_header.html'%}
<br><br><br><br>


<!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <center>
<form method="POST">

	<center><h3>Agriculture Officers</h3></center>

	{% if data['res'] %}
	
	<table class="table" style="color: white; width: 600px; height: 600px;">
  <tr>
				<th>First name</th>
				<td><input type="text" name="offname"  value="{{data['res'][0]['first_name']}}" class="form-control">
					
				</td>
				
  </tr>
   <tr>
				<th>Last name</th>
				<td><input type="text" name="oflname"  value="{{data['res'][0]['last_name']}}" class="form-control">
					
				</td>
				
  </tr>
 <tr>
				<th>Phone</th>
				<td><input type="text" name="ofphone"  value="{{data['res'][0]['phone']}}" class="form-control">
					
				</td>
				
  </tr>
   <tr>
				<th>Email</th>
				<td><input type="text" name="ofemail"  value="{{data['res'][0]['email']}}" class="form-control">
					
				</td>
				
  </tr>	
<tr>
	<td align="center" colspan="2"><input type="submit" name="edit" value="Update"></td>
</tr>
</table>
{% else %}

		<table class="table" style="width: 600px; height: 600px; color: wheat;">

  <tr >
				<th>First name</th>
				<td><input type="text" name="offname" class="form-control" >
					
				</td>
				
  </tr>
   <tr>
				<th>Last name</th>
				<td><input type="text" name="oflname" class="form-control">
					
				</td>
				
  </tr>
 <tr>
				<th>Phone</th>
				<td><input type="text" name="ofphone" class="form-control">
					
				</td>
				
  </tr>
   <tr>
				<th>Email</th>
				<td><input type="text" name="ofemail" class="form-control">
					
				</td>
				
  </tr>

<tr>
				<th>User name</th>
				<td><input type="text" name="username" class="form-control">
					
				</td>
				
  </tr>
  <tr>
				<th>Password</th>
				<td><input type="password" name="password" class="form-control">
					
				</td>
				
  </tr>


 <tr>
				<th><input type="submit" name="officer" value="Submit"></th>
			</tr>
</table>
{% endif %}
          <a class="cta-btn" href="#">Call To Action</a>
        </div>

      </div>
    </section><!-- End Cta Section -->
    <center>

<h3> Officer Details</h3>
<table class="table" style="width: 600px; height: 600px;">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Phone</th>
		<th>Email</th>
	</tr>

	{%for i  in data['officer']%}
	<tr>
		<td>{{ i['first_name']}}</td>
		<td>{{ i['last_name']}}</td>
		<td>{{ i['phone']}}</td>
		<td>{{ i['email']}}</td>
		<td><a href="?action=delete&oid={{i['officer_id']}}" class="btn btn-warning">delete</a></td>
		<td><a href="?action=update&oid={{i['officer_id']}}" class="btn btn-info">update</a></td>
	</tr>
	{%endfor%}
</table>
</form>
</center>
{% include 'footer.html' %}	